*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Helvetica Neue', sans-serif;
    line-height: 1.5;
    background-color: antiquewhite;
    color:  rgb(51, 73, 73);
}
.site-header{
    background-color: rgb(96, 143, 119);
    color: rgb(51, 73, 73);
    padding: 1rem 0;
    text-align: center;
}
.site-title{
    margin-bottom: 10px;
    font-size: 2em;
}
.main-nav .nav-list{
    list-style: none;
    display: flex;
    justify-content: center;
}
.main-nav{
    margin: 0 15px;
}
.main-nav .nav-link{
    color:antiquewhite;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}
.main-nav .nav-link:hover {
    color:  rgb(51, 73, 73);
}
.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 40px auto;
    padding: 0 20px;
}
.article {
    flex: 3;
    background-color: rgb(96, 143, 119);
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px #141313;
    border-radius: 5px;
}
.article-header{
    border-bottom: 2px solid #0c0c0c;
    margin-bottom: 15px;
    padding-bottom: 10px;
}
.article-title{
    color: #161616;
    font-size: 1.5em;
    margin-bottom: 30px;
}
.article-meta{
    color: #777;
    font-size: 0.9em;
}
.article-section {
    margin-bottom: 20px;
}
.section-tittle {
    font-size: 1.4em;
    color: #777;
    margin-bottom: 10px;
}
.section-text {
    margin-bottom: 15px;
    color: #161616;
    line-height: 1.0;
}
.image-figure{
margin-top: 20px 0;
}
.article-image {
    max-width: 100%;
    height: auto;
    border-radius: 5px;

}
.image-caption{
    text-align: center;
    font-size: 0.10em;
    color: #777;
    margin-top: 5px;
}
.sidebar{
    flex: 1;
    background-color: #f9f9f9;
    padding: 20px;
    box-shadow: 0 2px 4px #0000;
    border-radius: 5px;
}
.sidebar-title{
    font-size: 1.6em;
    color: #161616;
    margin-bottom: 10px;
}
.sidebar-text{
    color: #777;
    line-height: 1.5;
}
.site-footer{
    background-color:  rgb(96, 143, 119);
    color: #e7e7e7;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}